html {
    background-color: brown;
}

.main {
    max-width: 600px;
    margin: auto;
}

body {
    display: flex;
    align-items: center;
    padding: 0 10px;
    justify-content: center;
    min-height: 100vh; 
}


.container {
    height: 700px;
    width: 600px;
    background-color: white;
    display: flex;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 10px 10px rgba(32, 32, 32, 0.703) ;
}


.new{
    display: none;
    height: 800px;
    width: 600px;
    padding: 20px 40px;
    border-radius: 10px;    
    box-shadow: 10px 10px rgba(32, 32, 32, 0.703) ;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.new img {
    width: 200px;
    position:static;
    display: flex;
}

.newtext {
    padding-top: 100px;
}

.newimage {
    padding-right: 150px;
}

.printButton{
    align-items:end;
}
